:root {
	--teksta-koloro: #070d0d;
	--teksta-dua-koloro: #879191;
	--fona-koloro: #e7f2f3;
	--unua-koloro: #14cad7;
	--dua-koloro: #c1dadc;
	--akcenta-koloro: #146adb;
	--h1-grando: 2.2em;
}
html {
	background-color: var(--fona-koloro);
	font-size: 1em;
	font-family: Rubik, sans-serif;
	color: var(--teksta-koloro);
}
body {
	margin: 0;
}
nav {
	background-color: var(--dua-koloro);
	/*background-image: linear-gradient(0deg, var(--dua-koloro) 0%, var(--fona-koloro) 97%);*/
	font-family: Play, sans-serif;
	position: fixed;
	top: 0em;
	width: 100%;
}
.header {
	padding: 1em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	display: flex;
	justify-content: flex-end;
	gap: 2em;
	align-items: center;
}
.menu-button {
	font-size: 1.3em;
}
main {
	margin: calc(2.5em + var(--h1-grando)) 20%;
	padding: 1em 1em;
	align-items: center;
}
.main-block-1, .main-block-2 {
	display: flex;
	justify-content: space-evenly;
}
.intro.text {
	width: 55%;
}
.intro.image {
	width: 35%;
}
.intro.gallery {
	width: 60%;
}
.gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
}
.intro.gallery .column {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 2em;
}
.intro.buttons {
	width: 30%;
	align-items: center;
}
h1 {
	font-size: 2.2em;
	margin-block-start: 0em;
	margin-block-end: 0em;
	background: -webkit-linear-gradient(-60deg, var(--unua-koloro), var(--akcenta-koloro));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: transform ease 0.2s;
}
h2 {
	font-size: 1.5em;
	color: var(--unua-koloro);
	margin-top: 0;
}
.akcento {
	color: var(--akcenta-koloro);
	font-weight: bold;
}
a:link, a:visited {
	color: var(--unua-koloro);
	transition: color ease 0.2s;
}
a:hover {
	text-decoration: none;
	color: var(--akcenta-koloro);
}
.menu-button:link, .menu-button:visited {
	color: var(--teksta-koloro);
	text-decoration: none;
	background-color: transparent;
	transition: transform ease 0.2s;
}
.button:link, .button:visited {
	display: block;
	text-align: center;
	padding: 1em;
	margin: 1em;
	color: var(--teksta-koloro);
	text-decoration: none;
	transition: transform ease 0.2s, box-shadow ease 0.2s;
	border-radius: 15px;
}
.menu-button:hover, .button:hover, h1:hover {
	transform: translateY(-3px);
}
.button:hover {
	box-shadow: 0px 20px 30px -15px var(--dua-koloro);
}
.button {
	font-size: 1em;
}
.button.primary {
	background-color: var(--unua-koloro);
}
.button.secondary {
	background-color: var(--dua-koloro);
}
.image-comment {
	margin-block-start: 3px;
	text-align: center;
	color: var(--teksta-dua-koloro);
	font-size: 0.8em;
}
.plain-image {
	width: 100%;
	transition: transform ease 0.2s;
}
.plain-image:hover {
	transform: scale(1.2);
}
.framed-image {
	width: 100%;
	padding: 0.2em;
	border: thick double var(--dua-koloro);
	transition: border-color ease 0.2s;
}
.framed-image:hover {
	border-color: var(--akcenta-koloro);
}
footer {
	display: flex;
	justify-content: space-between;
	padding: 1em 2em;
	background-color: var(--dua-koloro);
}

@media screen and (max-width: 1600px)
{
	:root {--h1-grando: 2.2em;}
	html {font-size: 1.1em;}
	h2 {font-size: 1.7em;}
	.menu-button {font-size: 1.3em;}
	.button {font-size: 1.1em;}
	.image-comment {font-size: 0.9em;}
	main {
		margin-left: 10%;
		margin-right: 10%;
	}
}
@media screen and (max-width: 1200px)
{
	:root {--h1-grando: 2.4em;}
	html {font-size: 1.3em;}
	h2 {font-size: 1.9em;}
	.menu-button {font-size: 1.4em;}
	.button {font-size: 1.3em;}
	.image-comment {font-size: 1.05em;}
	.main-block-2 {
		flex-direction: column;
		align-items: center;
	}
	.intro.gallery, .intro.gallery .column {
		width: 100%;
	}
	.intro.buttons {
		width: 75%;
	}
	main {
		margin-left: 2em;
		margin-right: 2em;
	}
}
@media screen and (max-width: 1000px)
{
	:root {--h1-grando: 3em;}
	html {font-size: 1.5em;}
	h2 {font-size: 2.25em;}
	.menu-button {font-size: 1.8em;}
	.button {font-size: 1.4em;}
	.image-comment {font-size: 1.1em;}
	.main-block-1 {
		flex-direction: column;
		align-items: center;
	}
	.intro.gallery {
		flex-direction: column;
	}
	.intro.text {
		width: 100%;
	}
	.intro.buttons {
		width: 90%;
	}
	.intro.image {
		width: 45%;
	}
}
/*
Hela:
Malhela:
--teksta: #e7f2f3;
--background: #070d0d;
--unua: #14cad7;
--dua: #1a3132;
--akcenta: #498ee8;
*/